# Python virtual environment
praise_venv/
venv/
env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Environment variables and secrets
.env
config.yaml

# Logs
logs/
*.log


# IDE specific files
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db